@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.app-container {
  font-family: 'Figtree', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-wrapper {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: calc(100vh - 50px); 
}