@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.app-container {
  font-family: 'Figtree', sans-serif;
}
  
.main-content {
    display: flex;
    margin-top: 60px; 
    height: calc(100vh - 60px);
}
